div.tune-list {
  width: 50%;
  float: left;
}

div.tunes-selected {
  width: 50%;
  float: right;
}

.nav {
  background-color: green;
  height: 30px;
  margin-bottom: 20px;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  float: left;
  margin: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #DDD;
}
